
.blog-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  overflow-x: hidden;
}


.blog-section {
  padding: 3.5rem 1rem;
  border-bottom: 1px solid #E7E5E4;
}

.blog-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-header {
  font-size: 4.7rem;
  color: #DF954E;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
   .blog-header {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .blog-header {
    font-size: 2.8rem;
  }}

.blog-para {
  font-size: 1rem;
  max-width: 900px;
  text-align: center;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tablet */
@media (max-width: 768px) {
  .blog-para {
    max-width: 700px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .blog-para {
    max-width: 100%;
  }
}


.top-line{
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #EAB308;
  text-align: center;
}

@media (max-width:768px) {
  .top-line {
    font-size: 1.1rem;
    display: none;
  }
}
@media (max-width: 480px) {
  .top-line {
    font-size: 1.1rem;
    display: none;
  }
}

.bottom-line {
    display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #EAB308;
  text-align: center;
  margin-top: 0.1rem;
  margin-bottom: 1.5rem;
}
@media (max-width:768px) {
  .bottom-line {
    font-size: 1.1rem;
    display: none;
  }
}

@media (max-width: 480px) {
  .bottom-line {
    font-size: 1.1rem;
    display: none;
  }
}
.blog-mobile{
  display: none;
}
@media (max-width: 768px) {
    .blog-mobile {
        display: block;
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        color: #EAB308;
        font-size: 1.2rem;
        line-height: 1.25;
        padding-bottom: 2.5rem;
    }
}
@media (max-width: 480px) {
    .blog-mobile {
        display: block;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        color: #EAB308;
        font-size: 1.1rem;
        line-height: 1.25;
        padding-bottom: 2.5rem;
    }
}

.blog-featured {
  background-color: black;
  padding: 4rem 1rem 6rem;
}


@media (min-width: 768px) {
  .blog-featured {
    padding-left: 6rem;
    padding-right: 1rem;
  }
}

.blog-headerproduct {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.product-header1 {
  font-size: 2rem;
  color: #EAB308;
  font-weight: 800;
}


.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

/* Tablet */
@media (min-width: 768px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.blog-card {
  background-color: black;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.blog-card:hover {
  box-shadow: 0 8px 25px -2px rgba(255, 255, 255, 0.3);
}


.blog-image {
  position: relative;
  height: 216px;
  width: 100%;
  flex-shrink: 0;
}

.blog-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.blog-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}


.blog-header1 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: #dfab0b;
  margin-bottom: 0.75rem;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.author-icon {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #dfab0b;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author span {
  font-size: 1rem;
}

.blog-date {
  color: #91700b;
  font-size: 0.875rem;
}


.blog-title {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Tablet+ */
@media (min-width: 768px) {
  .blog-title {
    font-size: 1.5rem;
  }
}


.blog-footer {
  color: #c28957;
  font-size: 0.875rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  flex: 1;
}


.blog-button {
  border: 2px solid #dfab0b;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blog-button a {
  color: #dfab0b;
  transition: color 0.3s ease;
}

.blog-button:hover {
  background-color: #dfab0b;
}

.blog-button:hover a {
  color: black;
}
