.hero-section {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    .hero-section {
        position: relative;
        height: 90vh;
        width: 100%;
        overflow: hidden;

    }
}

@media (max-width: 480px) {
    .hero-section {
        font-size: 2.4rem;
        height: 80vh;

    }
}


.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: 1;
}

/* Dark overlay on top of blur */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(7, 7, 7, 0.75);
    z-index: 5;
}

/* Content centered */
.hero-content {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.hero-cont {
    /* margin-bottom: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Title text */
.hero-title {
    font-size: 4.5rem;
    font-weight: bold;
    color: #DF954E;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 3rem;

    }
}

/* @media (max-width: 480px) {
    .hero-title {
        font-size: 2.4rem;
    }
} */
@media (max-width:480px) {
    .hero-span1 {
        display: flex;
        justify-content: center;
        font-size: 3.1rem;
        font-weight: bolder;
    }
}

@media (max-width:480px) {
    .hero-span2 {
        display: flex;
        justify-content: center;
        font-size: 3.1rem;
        font-weight: bolder;
        line-height: 1;
    }
}

.hero-para {
    color: #F7E2A2;
    font-size: 1.6rem;
    max-width: 800px;
    text-align: center;
    margin: 1rem auto;
    line-height: 1.75rem;
    font-weight: bold;
}

@media (max-width:768px) {
    .hero-para {
        font-size: 1.1rem;
    }
}

@media (max-width:480px) {
    .hero-para {
        font-size: 1.1rem;
        width: 360px;
    }
}


.hero-buttom {
    display: flex;
    gap: 14px;
    margin-top: 2.3rem;
    width: 18rem;

}

@media (max-width:768px) {
    .hero-buttom {
        padding: 10px;
    }
}

@media (max-width:480px) {
    .hero-bottom {
       flex-direction: column;
       width: 90%;
       gap: 10px;
    }
}

.hero-product {
    background-color: #eab308;
    color: black;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width:768px) {
    .hero-product {
        width: 70%;
        font-size: medium;
    }
}

@media (max-width:480px) {
    .hero-product {
        
        width: 80%;
        font-size: small;
        font-weight: 800;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;

    }
}


.hero-product:hover {
    background-color: #fcd34d;
}

.hero-learn {
    border-radius: 12px;
    font-weight: bold;
    width: 100%;
    border: 1px solid white;
    background: black;
    color: white;
    cursor: pointer;
}

@media (max-width:768px) {
    .hero-learn {
        width: 70%;
        font-size: medium;
    }
}

@media (max-width:480px) {
    .hero-learn {
        width: 250px;
        font-size: small;
        padding: 10px;
    }
}


.hero-learn:hover {
    background-color: #020617;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}