/* Main hero container */
.hero-section {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

/* Blurred background image */
.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: 1;
}

/* Dark overlay on top of blur */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 5;
}

/* Content centered */
.hero-content {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
   
}

.hero-cont{
    /* margin-bottom: 16px; */
    display: flex;
        flex-direction: column;
     justify-content: center;
    align-items: center;
}
/* Title text */
.hero-title {
    font-size: 4.5rem;
    font-weight: bold;
    color: #DF954E;

}

.hero-para {
  color: #F7E2A2;           
  font-size: 1.6rem;      
  max-width: 800px;        
  text-align: center;       
  margin: 1rem auto;      
  line-height: 1.75rem;    
  font-weight: bold;        
}

.hero-buttom {
    display: flex;
    gap: 14px;
    margin-top: 2.3rem;
}

.hero-product {
    background-color: #eab308;
    color: black;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    width: 90%;
    cursor: pointer;

}

.hero-product:hover {
    background-color: #fcd34d;
}

.hero-learn {
    border-radius: 12px;
    font-weight: bold;
    width: 100%;
    border: 1px solid white;
    background: black;
    color: white;
    cursor: pointer;
}

.hero-learn:hover {
    background-color: #020617;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}