/* .photo-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 'poppins', sans-serif;
     position: relative;
} */

.photo-section {
    background-color: black;
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 6.2rem;
}
@media (max-width:768px){
    .photo-section{
       height: 80vh;
    }
}
@media (max-width:480px){
    .photo-section{
      height: 70vh;
    }
}

.photo-content {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.photo-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
}


.photo-title {
    font-size: 4rem;
    font-weight: bold;
    color: #ff8904;
}
@media (max-width:768px){
    .photo-title{
        font-size: 3rem;
        font-weight: bold;
    color: #ff8904;
    }
}
@media (max-width:480px){
    .photo-title{
        font-size: 2rem;
        font-weight: bold;
    color: #ff8904;
    margin-bottom: 1rem;
    }
}

.photo-para {
    font-size: medium;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  #fb923c;
    line-height: 1.1;
    padding-bottom: 3.1rem;
}
@media (max-width:768px) {
    .photo-para {
        font-size: 1.1rem;
    }
}

@media (max-width:480px) {
    .photo-para {
        font-size: 1.1rem;
        width: 360px;
        display: flex;
        padding-bottom: 0.1rem;
    }
}

.top-line {
    /* display: block; */
    font-size: 1.4rem;
    font-weight: 350;
    color: #d1d5db;
}
@media (max-width:768px) {
    .top-line {
        font-size: 1.1rem;
    }
}

@media (max-width:480px) {
    .top-line {
        font-size: 1.1rem;
        display: none;
    }
}
.bottom-line {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color:#d1d5db;
}
@media (max-width:768px) {
    .bottom-line {
        font-size: 1.1rem;
    }
}

@media (max-width:480px) {
    .bottom-line {
        font-size: 1.1rem;
        display: none;
    }
}

.photo-paramobile {
    display: none;
}


@media (max-width: 480px) {
    .photo-paramobile {
        display: block;
        max-width: 360px;
        margin: 0 auto;
        text-align: center;
        color: #d1d5db;
        font-size: 1rem;
        line-height: 1.25;
        padding-bottom: 2.5rem;
    }

    .mobile-br {
        display: none;
    }
}



.photo-buttom {
    display: flex;
   width: 300px;
   gap: 12;
   
}

.photo-product {
    background-color: #eab308;
    color: white;
    transition: background-color 0.3s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    font-weight: bold;
    width: 80%;
    cursor: pointer;

}


.photo-product:hover {
    background-color: #C76F44;
}

.photo-learn {
    border-radius: 6px;
    font-weight: bold;
    width: 80%;
    border: 2px solid #BE6B22;
    background: black;
    color: white;
    cursor: pointer;
      padding-top: 10px;
    padding-bottom: 10px;
}

.photo-learn:hover {
    background-color: #1f2937;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}